/*navbar section*/

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
}
/*nav logo*/
.nav-logo img{
    height: 40px;
}
/*nav menu*/
.nav-menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #222;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-menu a:hover{
    color: #676767;
}
/*nav button*/
.btn-primary{
    padding: 12px 24px;
    background-color: #30B868;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.btn-primary:hover{
    background-color: #1c904c;
}